ul, li, p, body, dl, dd, dt {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  border: none
}

.header-page {
  padding: 20px 16px;
  background: #1E1E1E;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #E4E5EA;
}

@media (min-width: 1440px) {
  .header-page {
    padding: 46px 150px 0px;
  }
}


.header-page-wrapper {
  display: flex;
  gap: 73px;
}


.logo-and-label {
  display: none;
  width: 140px;
}

@media (min-width: 1440px) {
  .logo-and-label {
    display: flex;
    flex-direction: column;
    gap:10px;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    color: #E4E5EA;
  }
}

.navbar {
  display: flex;
  gap: 16px;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  height: min-content;
}

@media (min-width: 1440px) {
  .navbar {
    gap: 30px;
    font-weight:unset;
    font-size: unset;
    text-transform:initial;
  }
}

.navbar-item_hide {
  display: none;
}

@media (min-width: 1440px) {
  .navbar-item_hide {
    display: block;
  }
}

.main-page {
  padding: 40px 14px 59px;
  background: #1E1E1E;
  position: relative;
  overflow: hidden;
  
  /* background: radial-gradient(238.53% 189.02% at 3.2% 3.49%, rgba(255, 246, 233, 0.1) 0%, rgba(26, 29, 35, 0.1) 26.62%, rgba(26, 29, 35, 0.1) 52.1%, rgba(26, 29, 35, 0.01) 70.17%, rgba(26, 29, 35, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */; */
  /* backdrop-filter: blur(7.5px); */
}


@media (min-width: 1440px) {
  .main-page {
    padding: 94px 150px 124px;
  }

  .circle-mobile-1, .circle-mobile-2, .bg-phone-mobile-1, .bg-phone-mobile-2 {
    display: none;
  }
}

.circle-mobile-1 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 296px;
  top: 236px;
  
  background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(236, 208, 255, 0.64) 0%, rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.208) 78.59%, rgba(86, 24, 128, 0.232) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
  filter: blur(5px);
  backdrop-filter: blur(2px);
}

.bg-phone-mobile-1 {
  position: absolute;
  width: 259px;
  height: 259px;
  left: 258px;
  top: 107px;

  background: #833AB4;
  opacity: 0.5;
  filter: blur(196px);
}

.bg-phone-mobile-2 {
  position: absolute;
  width: 211px;
  height: 210px;
  left: -55px;
  top: 241px;

  background: #961A1A;
  opacity: 0.5;
  filter: blur(196px);
}

.circle-mobile-2 {
  border-radius: 50%;
  position: absolute;
  width: 43px;
  height: 43px;
  left: 29px;
  top: 402px;

  background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.536) 0%, rgba(212, 93, 93, 0.264) 59.67%, rgba(167, 49, 49, 0.248) 78.59%, rgba(130, 25, 25, 0.248) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
  backdrop-filter: blur(2px);
}

.main-page-wrapper {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

@media (min-width: 1440px) {
  .main-page-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}

.earn-more__title {
  font-size: 36px;
  line-height: 44px;
  font-family: 'Inter';
}

@media (min-width: 1440px) {
  .earn-more {
    width:362px;
  }

  .earn-more__title {
    font-size: 48px;
    line-height: 58px;
  }
}

.earn-more__title_default {
  font-weight: 400;
  color: #E4E5EA;
}

.earn-more__title_gradient {
  font-weight: 900;
  background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.earn-more__label {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #E4E5EA;
  margin-top: 15px;
}

@media (min-width: 1440px) {
  .earn-more__label {
    font-size: 16px;
    margin-top: 30px;
  }
}

@media (min-width: 1440px) {
  .presents {
    text-align: right;
  }
}

.presents__title {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #E4E5EA;
}

@media (min-width: 1440px) {
  .presents__title {
    width:291px;
    margin-left: auto;
    margin-bottom: 40px;
  }
}

.presents__title_gradient {
  background: linear-gradient(90deg, #FCB045 56.99%, #FD1D1D 190%), linear-gradient(0deg, #E4E5EA, #E4E5EA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

@media (min-width: 1440px) {
  .presents__title_gradient{
    text-transform: uppercase;
  }
}

.presents__features-mobile {
  margin-top: 20px;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #E4E5EA;
  display: inline-grid;
  grid-template-columns: auto 1fr;
  row-gap:14px;
  column-gap: 10px;
}

@media (min-width: 1440px) {
  .presents__features-mobile{
    display: none;
  }
}

.presents__features-mobile-item {
  position: relative;
  margin-inline-start: 15px;
}
.presents__features-mobile-item::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 1px;
  left: -15px;
  top: 8px;

  background: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);
}

.presents__features-desktop,  .btn-get-consultation{
  display: none;
}

@media (min-width: 1440px) {
  .presents__features-desktop {
    display: inline-grid;
    grid-template-columns: min-content min-content;
    gap:30px;
    color: #E4E5EA;
  }

  .presents__features-desktop-item-term {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  .presents__features-desktop-item-definition {
    margin-top: 6px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }

  .btn-get-consultation {
    display: block;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #E4E5EA;
    padding: 21px 34px;
    background: #4077F3;
    margin: 61px 0 0 auto;
    cursor: pointer;
  }
}



@media (min-width: 1440px) {
  .footer-page {
    padding: 55px 150px 20px;
  }
}

.footer-page {
  background: #1E1E1E;
  padding: 35px 16px 60px;
  font-family: 'Inter';
}

@media (min-width: 1440px) {
  .footer-page {
    padding: 55px 150px 20px;
  }
}

.footer-page__sections-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;

  color: #E4E5EA;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

@media (min-width: 1440px) {
  .footer-page__sections-wrapper {
    font-size: 16px;
    gap: 98px;
  }
}


@media (min-width: 1440px) {
  .footer-page__sections-wrapper {
    flex-direction: row;
  }
}

.footer-page__chapter-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  
  letter-spacing: 0.05em;
  text-transform: uppercase;
  
  
  color: #656566;
}

@media (min-width: 1440px) {
  .footer-page__chapter-title{
    font-size: 14px;
  }
}

.footer-page__menu-column-wrapper{
  display: flex;
  gap: 48px;
}

.footer-page__section, .footer-page__menu-column {
  display: flex;
  flex-direction: column;
  gap:10px;
}

.phone-and-icons {
  font-weight: 500;
  font-size: 16px;
  display: flex;
}

@media (min-width: 1440px) {
  .phone-and-icons{
    gap:21px;
  }
}

.phone-and-icons_footer {
  gap:8px;
  flex-direction: column;
}

@media (min-width: 1440px) {
  .phone-and-icons_footer{
    gap:21px;
  }
}

.phone-and-icons_header {
  display: none;
}

@media (min-width: 1440px) {
  .phone-and-icons_header{
    display: flex;
    gap:47px;
    margin-left: auto;
  }
}

.icons {
  display: flex;
  gap:14px;
}

@media (min-width: 1440px) {
  .icons{
    margin-bottom: 10px;
  }

  .icons_footer{
    margin-left: auto;
  }
}

.icons_header {
  gap:32px;
}



.footer-page-label {
  margin-top: 70px;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #E4E5EA;
  display: flex;
  flex-direction: column;
  gap:5px;
}

@media (min-width: 1440px) {
  .footer-page-label {
    text-align: right;
  }
}

.footer-page-label-item_bottom {
  text-decoration: underline;
}


@media (min-width: 1440px) {
  .footer-page__contacts {
    margin-left: auto;
    text-align: right;
  }
}

.number-phone {
  text-decoration: none;
  color: unset
}

.icon__item, .navbar__item {
  cursor: pointer;
  z-index: 2;
}

.circle-desktop-1, .circle-desktop-2, .circle-desktop-3, .bg-phone-desktop-1, .bg-phone-desktop-2 {
  display: none;
}

@media (min-width: 1440px) {
  .circle-desktop-1, .circle-desktop-2, .circle-desktop-3, .bg-phone-desktop-1, .bg-phone-desktop-2 {
    display: block;
  }

  .circle-desktop-1 {
    position: absolute;
    width: 83px;
    height: 83px;
    left: 519px;
    top: 83px;
    border-radius: 50%;
    background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.536) 0%, rgba(212, 93, 93, 0.264) 59.67%, rgba(167, 49, 49, 0.248) 78.59%, rgba(130, 25, 25, 0.248) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
    backdrop-filter: blur(2px);
  }
  
  .circle-desktop-2 {
    border-radius: 50%;
    position: absolute;
    width: 60px;
    height: 60px;
    left: 868px;
    top: -2px;
  
    background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(236, 208, 255, 0.64) 0%, rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.208) 78.59%, rgba(86, 24, 128, 0.232) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
    filter: blur(5px);
    backdrop-filter: blur(2px);
  }
  
  .circle-desktop-3 {
    position: absolute;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    left: 851px;
    top: 547px;
  
    background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.48) 0%, rgba(212, 93, 93, 0.248) 59.67%, rgba(167, 49, 49, 0.264) 78.59%, rgba(130, 25, 25, 0.232) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
    filter: blur(2.5px);
    backdrop-filter: blur(2px);
  }
  
  .bg-phone-desktop-1 {
    position: absolute;
    width: 259px;
    height: 259px;
    left: 602px;
    top: -154px;
  
    background: #833AB4;
    opacity: 0.5;
    filter: blur(196px);
  }
  
  .bg-phone-desktop-2 {
    position: absolute;
    width: 311px;
    height: 311px;
    left: -102px;
    top: 251px;
    
    background: #961A1A;
    opacity: 0.5;
    filter: blur(196px);
  }
}

